<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Hybrid Player</title>
	<link rel="stylesheet" href="/static/css/style.css" />
	<script type="text/javascript" src="/static/js/index.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>

<h2>Hybrid Music Player</h2>


<form id="search-form" onsubmit="search(); return false;" method="post">
    <p>Search</p>
    <input type="text" name="query" id="search_query">
    <input id="login_submit" type="submit" value="Search">
</form>
<br><br>

<div id="playlist">
	<h4>Playlist</h4>
	<table id="playlist-table"></table>

	<p><a href="javascript:;" id="playerControl" onClick="changeState();">Pause</a>
</div>
<div id="player" style="display:none"></div>

<script>
	setApiKey('{{api_key}}');
	loadYoutubeIFrame();
</script>

</body>

</html>